.submenu {
    display: none;
    position: absolute;
    background-color: #333;
    list-style: none;
    padding: 10px 0;
    border-radius: 5px;
    margin-top: 0;
    opacity: 0;
    transform: translateY(10px);
    transition: all 0.3s ease;
    z-index: 2100;
}

nav li:hover .submenu {
    display: block;
    opacity: 1;
    transform: translateY(0);
}

.submenu li {
    padding: 0 10px;
}

.submenu li a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 10px;
    transition: background-color 0.3s ease;
}

.submenu li a:hover {
    background-color: transparent;
    color: #4b9191;
}

@media (max-width: 728px) {
    .submenu {
        display: none !important;
    }
}